POSTGRES_USER=tis_user
POSTGRES_PASSWORD=BITTE_ERSETZEN_DURCH_LANGES_PASSWORT
POSTGRES_DB=tis_db

NC_AUTH_JWT_SECRET=BITTE_ERSETZEN_DURCH_LANGEN_ZUFALLSWERT
NC_ADMIN_EMAIL=admin@example.local
NC_ADMIN_PASSWORD=BITTE_ERSETZEN_DURCH_ADMIN_PASSWORT
